<?xml version="1.0"?>
<!--
/**
 * Copyright © JLK. All rights reserved.
 * Created by JLK https://www.jiliuke.com.
 * User: michaeldyl520 michaeldyl520@gmail.com
 * Date: 2022/1/17
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="jlk" translate="label" sortOrder="500">
            <label>Jlk Extension</label>
        </tab>
        <section id="jlk_email" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Email</label>
            <tab>jlk</tab>
            <resource>Jlk_Email::configuration_email</resource>
            <group id="general" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                <label>General</label>
                <field id="debug_email" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Debug Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>